/*  General styles*/

body{
    margin:0;
    padding:0; 
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5 , h6{
    font-family: "Covered By Your Grace", serif;
    font-weight: 400;
    font-style: normal;
}


a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}



/*  Header */
header{
    background-color: #F5F5F5;
    
}
nav ul{
    list-style-type:none;
    padding:0;
    margin:0;
    display: flex;
   justify-content: space-between;

}

nav ul a{
    color: #333;
    padding: 14px 16px;
    display: block;
    padding: 20px;
}

nav ul a:hover{
    background-color: #DAD2FF;
}


/*  Intro */

#home{
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;
    align-items: center;
    font-size: larger;
}

#home a{
    text-decoration: none;
    color: white;
    padding: 15px;
    background-color: #4B164C;
    border-radius: 1.5rem;
}


#home a:hover{
    opacity:0.6;
}


/*  about */

#about{
    height: 40%;
    background-color: #DAD2FF;
    padding:4em;
    text-align:center;
    justify-content:center;
}



/*  projects */

#projects{
    background-color: antiquewhite;
    padding: 1.5em;
    font-weight: 500;
}

.projects-div{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust min width as needed */
        grid-auto-rows: auto; /* Allows flexible row heights */
        gap: 2rem;
        justify-content: center;
        margin-top: 20px;
}

.project{
    color: #333;
}

.project img{
    width: 250px;
    max-height: 250px;
    object-fit:contain;
    border-radius: 0.5rem;
}

.project img:hover{
    cursor: pointer;
    transform: scale(1.25);
    transition: all 3 ease-in;
}


.project-a {
    text-decoration: none;
    color: #333;
    padding:0.5rem;
    margin-top:0.7rem;
    background-color:white;
    border-radius:0.30rem
}

.project-a:hover{
    cursor: pointer;
    opacity:0.8;
}

/*  contact */

#contact{
    padding: 0;
    margin: 0;
    background-color: #4B164C;
    color: white;
    padding: 40px 20px; 
    margin: 0 auto; 
    text-align:center;

}

#contact a{
    padding:0.5rem;
    margin:0.7rem;
    background-color:white;
    border-radius:0.30rem
}

#contact a:hover{
   opacity:0.8;
}