*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace, Courier, monospace;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.game-container{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

#board{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.controls{
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
}

.controls button{
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.controls div{
  margin-top: 0.5rem;
}

.card {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    cursor: pointer;
}

.card img {
    width: 90px;
    height: 90px;
}
  
.hidden {
    display: none;
}
  
footer  {
  width: 100%;
  padding: 0.7rem;
  background-color: #333;
  text-align: center;
  bottom: 0;
  position: fixed;
}


footer a{
  color: #fff;
  text-decoration: none;
} 


/* Responsive design */

@media (max-width: 500px) {

  body {
    height: auto;
  }

  .game-container {
    width: 95%;
    height: auto;
    padding: 2rem;
    margin-top: 2rem;
  }

  #board {
    grid-template-columns: repeat(3, auto);
    gap: 0.5rem;
  }

.card {
    width: 70px; /* Reduce card size */
    height: 70px;
}

.card img{
  width: 70px;
  height: 70px;
}

.controls{
  flex-direction: column; 
  align-items: center;}

.controls button{
  width: 100%;}

footer{
  position: relative;
  margin-top: 1rem;}
}